//

/* Bootstrap */
@use 'bootstrap';

$dc-main-bg: #1C1C1C;
$dc-dark: #303030;
$dc-white: white;
$dc-primary: #0282F9;


/* MAIN */
.jumbotron {
    background-image: url('https://fumettologica.it/wp-content/uploads/2022/02/dark-crisis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}


.load {
    a {
        padding: 0.2rem 1rem;
    }

}

/* FOOTER */

.footer {
    background-color: #303030;

    ul {
        list-style: none;
    }

    .col {
        width: 13%;

    }
}






/* Footer end */
.footer_end_menu {
    background-color: $dc-dark;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    height: 15vh;

    a {
        border: none;
    }
}

.button {
    border: 1px solid $dc-primary;
    padding: 0.5rem;

    &:hover {
        filter: drop-shadow(0 0 6px white);
    }

    a {
        color: $dc-white;
    }
}

.follow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    h5 {
        margin-right: 1rem;
        color: $dc-primary;
    }

    a:hover {
        filter: drop-shadow(2px 4px 6px black);
    }
}

.payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


